@model InsecureWebsite.Models.LoginRegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<h2>Register</h2>

@if (TempData.TryGetValue("Error", out var error))
{
    <p class="text-danger">@error</p>
}

<form method="post" action="/Account/RegisterAccount">
    Username
    <input type="text" id="Username" name="Username" value="" />
    <br/>
    Password
    <input type="password" id="Password" name="Password" value="" />
    <br/>
    <input type="submit" value="Submit" class="btn btn-success" />
</form>